.DS_Store
*.swp
*__local.py
*.log
.idea/
.idea */
tmp/
log/
test/.cache/
nohup.out
.cache/
*.sublime-*

*leok-desktop*
*leok-fnc*

*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
#dist
#build
#eggs
#parts
#bin
#var
#sdist
#develop-eggs
.installed.cfg
#lib
#lib64
__pycache__
builds/

# Environments
docker/.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Media
media/*

# Docker data
docker/log
docker/postgres_data
